h2 {
    margin: 0 0 1rem;
}

.scheduleSection {
    background-color: var(--bg-blue);
}

.scheduleContainer {
    display: flex;
    flex-direction: column;
}

.activityContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.hackDay {
    margin: 1rem auto -1rem;
    padding: 0.75rem 1.875rem;
    text-align: center;
    background-color: var(--secondary-blue);
    color: var(--white-color);
    z-index: 1;
    box-shadow: 0px 0.25rem 0.25rem var(--shadow);
}

.activityTime {
    font-weight: 600;
}

.activityBox {
    width: 100%;
    height: auto;
    /* height: 12.875rem; */
    background-color: var(--primary-orange);
    border: 0.09375rem solid var(--black-color);
    text-align: center;
    padding: 3.125rem 2.75rem;
    box-shadow: 0px 0.25rem 0.25rem var(--shadow);
}

@media (min-width: 768px) {
    .scheduleContainer {
        flex-direction: row;
        column-gap: 1rem;
    }

    .activityContainer {
        flex-direction: row;
        column-gap: 1rem;
    }

    .hackDay {
        display: none;
    }
}