.sponsorBoxTier1, .sponsorBoxTier2, .sponsorBoxTier3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sponsorLogo {
    padding-bottom: 1rem;
    height: fit-content;
}

.sponsorLogo:hover {
    cursor: pointer;
}

.sponsorBoxTier1 {
    margin-top: 2rem;
}

.sponsorBoxTier3 {
    height: 6.25rem;
    display: flex;
    justify-content: center;
}

.sponsorLogoTier1 {
    scale: 100%;
    margin: auto auto 1rem;
}

.sponsorLogoTier2 {
    scale: 60%;
}

.sponsorLogoTier3 {
    scale: 55%;
}

.sponsorBtn {
    display: flex;
    margin: 4rem auto 0;
    font-size: 1.08rem;    
    font-weight: 600;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
    background-color: var(--grey-color);
    border: 0.1rem solid var(--secondary-blue);
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0.25rem 0.25rem var(--shadow);
    transition: ease-in-out background-color;
    transition-duration: 0.35s;
    cursor: pointer;
}

.devpostLink {
    color: var(--black-color);
    font-family: 'Fira Code', monospace;
}

.devpostHighlight {
    color: var(--secondary-orange);
    border-bottom: 0.1rem solid var(--secondary-orange);
}

@media (min-width: 420px) {
    .sponsorBoxTier2, .sponsorBoxTier3 {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 1rem 0;
        justify-content: space-around;
    }

    .sponsorBoxTier3 {
        align-content: center;
    }

    .sponsorLogoTier3 {
        scale: 40%;
    }

    .sponsorLogo {
        padding-bottom: 0;
    }
}

@media (min-width: 635px) {
    .sponsorBoxTier1 {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 1rem 0;
        justify-content: space-evenly;
        gap: 4rem;
    }

    .sponsorBoxTier2, .sponsorBoxTier3 {
        padding: 0;
    }

    .sponsorLogoTier1 {
        scale: 120%;
    }

    .sponsorLogoTier2 {
        margin: auto;
    }
}

@media (min-width: 768px) {
    .sponsorBtn {
        font-size: 1.125rem;
        padding: 0.8125rem 1.875rem;
        margin: 8rem auto 0;
    }
}