body {
    padding: 0;
    margin: 0 auto;
    background-color: var(--white-color);
    font-size: 16px;
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}

h1 {
    font-family: 'Blinker', sans-serif;
    font-weight: 700;
    font-size: 2.65rem;
    text-transform: uppercase;
    color: var(--primary-blue);
    -webkit-text-stroke-width: 0.125rem;
    -webkit-text-stroke-color: var(--secondary-blue);
    margin: 3rem 0 1.1875rem;
}

h2 {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 1.625rem;
    color: var(--tertiary-blue);
    letter-spacing: -0.05rem;
}

h3 {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--black-color);
    text-align: center;
    margin: 0 0 2rem;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow-x: hidden;
}

.bolded {
    font-weight: 700;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.section-no-padding {
    padding: 0;
}

section {
    padding: 4rem 1.5rem;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-blue: #476D9D;
    --secondary-blue: #102D52;
    --tertiary-blue: #38557A;
    --primary-orange: #FFA53B;
    --secondary-orange: #E47D04;
    --bg-blue: #C0DDFF;
    --shadow:rgba(0, 0, 0, 0.15);
    --shadow-light:rgba(0, 0, 0, 0.06);
    --grey-color: #EEEEEE;
    --white-clear: #ffffff00;
}

::selection {
    background: var(--tertiary-blue);
    color: var(--white-color);
}

.visible {
    top: 0;
    left: 0;
    position: fixed;
    background: var(--secondary-blue);
    padding: 2rem;
    width: 100vw;
    height: 3.75rem;
    transition: transform 2s ease-in-out;
    z-index: 3;
}

.hidden {
    top: 3.75rem;
    padding: 2rem;
    background: var(--secondary-blue);
    z-index: 3;
}

.headerBar {
    display: flex;
    align-items: center;
    position: relative;
}

.lineBreak {
    display: none;
}

@media (min-width: 500px) {
    .footerParaBreak1 {
        display: none;
    }
}

@media (min-width: 768px) {
    section {
        padding: 6.25rem 5rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .lineBreak {
        display: block;
    }

    .headingBreak, .footerParaBreak2 {
        display: none;
    }

    .visible {
        padding: 2rem 1.5rem 3rem;
    }
}